name: Atualizar Dashboard Automático

on:
  
  schedule:
    - cron: '25 22 * * *'  # Atualiza às 00h, 06h, 12h e 18h BRT
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v3
        with:
          persist-credentials: false  # importante para usar token no push

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Instalar dependências
        run: pip install -r requirements.txt

      - name: Executar script
        run: python gerar_dashboard.py

      - name: Commit automático do dashboard
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add index.html
          # Commit apenas se houver alterações
          git diff --cached --quiet || git commit -m "Atualização automática do dashboard"
          # Push usando token para autenticação
          git push https://x-access-token:${GITHUB_TOKEN}@github.com/${{ github.repository }} HEAD:main
